@model IEnumerable<MasteringEFCore.Transactions.Final.Models.Comment>
<div class="row">
    <div class="col-sm-8 blog-main">
        <div class="blog-post-comments">
            @foreach (var comment in Model)
            {
                <div class="comment-row">
                    <div class="comment-item">
                        <h5 class="mt-0">@comment.Person.NickName</h5>
                        @comment.Content
                    </div>
                </div>
        }
        </div>
    </div>
</div>
