@model IEnumerable<MasteringEFCore.MultiTenancy.Final.Models.Comment>
<div class="row">
    <div class="col-sm-8 blog-main">
        <div class="blog-post-comments">
            @foreach (var comment in Model)
            {
                <div class="media mb-4">
                    <div class="media-body">
                        <h3 class="mt-0">@comment.Person.NickName</h3>
                        @comment.Content
                    </div>
                </div>
        }
        </div>
    </div>
</div>
