@model MasteringEFCore.Performance.Final.Models.Address

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Address</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FlatHouseInfo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FlatHouseInfo" class="form-control" />
                <span asp-validation-for="FlatHouseInfo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StreetName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Locality" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Locality" class="form-control" />
                <span asp-validation-for="Locality" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="State" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Country" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LatitudeLongitude" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LatitudeLongitude" class="form-control" />
                <span asp-validation-for="LatitudeLongitude" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
